{% extends '_base.html' %}

{% block content %}

<h1>Open Data 150 Canada</h1>

<h2>About this Project</h2>

<p>The Open Data 150 is a joint project between The Govlab and Canada’s Open Data Exchange (ODX), supported by Open North, the Federal Economic Development Agency for Southern Ontario and ThomsonReuters. It is the first comprehensive, internationally comparable mapping of Canadian companies that use open data to: launch new products and services; create commercial and nonprofit ventures, optimize their business processes, do research, make data-driven decisions, and solve complex problems.</p>

<h2>How To Participate</h2>

<a href="#">
  <h3>Take the Survey (EN)</h3>
  <p>Fill out the survey in English and tell us about your company's use of open data.</p>
</a>

<a href="#">
  <h3>Remplissez le Sondage (FR)</h3>
  <p>Remplissez le sondage et dites-nous un peu sur la façon que votre entreprise utilise les données ouvertes.</p>
</a>
 
<h2>Study Objectives</h2>

<p>The primary objective of this project is to understand how companies are using open data, and raise awareness of the possibilities that exist for Canadian entrepreneurs to take advantage of the value of open data. Additional objectives include:</p>

<ul>
  <li>Increasing the number of open data companies in Canada</li>
  <li>Improving access to open data in breadth and number</li>
  <li>Exploring new business models or methods for extracting value from data</li>
  <li>Creating a community of stakeholders ODX can reach out to in an effort to better understand the unique challenges faced by open data companies</li>
  <li>Establish a better understanding of the skills required to take advantage of open data</li>
</ul>

<h2>Approach</h2>

<p>The Open Data 150 is a collaborative project intended to identify and analyze Canada’s private sector capacity to create value from open data. The project was initiated by ODX and the information gathered by this project will give ODX and its partners deeper insight into the open data landscape that currently exists, as well as a view of what challenges need to be overcome in order to make Canadian open data companies more competitive.</p>

<h2>Company Identification</h2>

<p>The Open Data 150 Canada team will compile the list of companies and NGOs through (1) outreach campaigns and open calls, (2) curation and identification by experts and professional organizations, and (3) additional research methods. The results of the study will culminate in an online platform at www.opendata500.com/ca which will highlight the companies and their use of open data in Canada.</p>

 
<h2>What The Study Is Not</h2>

<p>The Open Data 150 Canada is not a rating or ranking of companies. It covers companies and entities of different sizes and categories, using various kinds of data. The Open Data 150 Canada is not a competition, but an attempt to give a broad, inclusive view of the field. The study also does not provide a random sample for definitive statistical analysis. Since this is the first thorough scan of companies and entities in the field, it is not yet possible to determine the exact landscape of open data companies and entities.</p>

<h2>Federal Open Data</h2>

<ul>
  <li>In 2011 the Federal Government’s open data portal was launched, and subsequently updated in 2013</li>
  <li>In April 2012 Canada’s 3-year Action Plan on Open Government was initiated</li>
  <li>In October 2014 the Government issued the Directive on Open Government making ‘open by default’ the standard for government publications and data</li>
  <li>In November 2014 the second Action Plan on Open Government was announced, which among other initiatives, committed to the creation of ODX</li>
  <li>In 2015, ODX was formed. ODX is a public-private-academic partnership based in Waterloo Region with the goal of becoming Canada’s central and national marketplace to access data innovation for economic prosperity.</li>
</ul>

<h2>Team</h2>

<p>Kevin Tuer</p>
<p>Managing Director, ODX</p>

<p>Michael Chan</p>
<p>Business Development Manager, ODX</p>

<p>Jean­-Noé Landry</p>
<p>Executive Director, Open North</p>


<h3>The GovLab</h3>

<p>Beth Simone Noveck</p>
<p>Founder & Director, The GovLab</p>
 
<p>Stefaan Verhulst</p>
<p>Co-Founder and Chief of Research and Development, The GovLab; Director of GovLab's Open Data Project</p>
 
<p>Julia Root</p>
<p>Project Lead</p>

<p>Anupama Sharma</p>
<p>Developer</p>

<p>Claudio Mendonca</p>
<p>Designer</p>

{% endblock %}