{% extends '_base.html' %}

{% block content %}
  <div class="top-section top-section--od500-header top-section--main-color">
    <h1>All Companies</h1>
  </div>
  
  {# TODO
    Implement list.js in this table 
    Implement JS to make THEAD position:fixed - needs to add the class .table-sortable--fixed to the .table-sortable component, when thead reaches top of viewport.
  #}

  <table class="table-sortable table-sortable--main-color"> {# .table-sortable--fixed #}
    
    <thead class="company">
      <th class="table-sortable__head-cell">&nbsp;</th>
      <th class="table-sortable__head-cell company__name">
        <span>Company</span>
      
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple js-open-table-search"><i class="material-icons">search</i></span>
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
        <form class="table-sortable__search ">
          <input type="text" placeholder="Filter by text">
          <button type="submit" class=""><i class="material-icons">search</i></button>
        </form>
      </th>

      <th class="table-sortable__head-cell company__category">
        <span>Category</span>
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
      </th>
      <th class="table-sortable__head-cell company__type">
        <span>Type</span>
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
      </th>

      <th class="table-sortable__head-cell company__founded">
        <span>Founded</span>
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
      </th>
      <th class="table-sortable__head-cell company__location">
        <span>Location</span>
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple js-open-table-search"><i class="material-icons">search</i></span>
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>  
        </div>
        <form class="table-sortable__search ">
          <input type="text" placeholder="Filter by text">
          <button type="submit" class=""><i class="material-icons">search</i></button>
        </form>
      </th>
      <th class="table-sortable__head-cell company__last-update">
        <span>Last Update</span>
        <div class="table-sortable__control-group">
          <span class="table-sortable__control table-sortable__control--simple"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
      </th>
      <th class="table-sortable__head-cell">&nbsp;</th>
    </thead>
    <tbody>
      {% for i in companies %}
      <tr class="company" id="{{i.company_name_id}}" >
        <td></td>
        <td class="company__name"><a href="{{i.url}}" target="_blank">{{i.company_name}}</a></td>
        <td class="company__category">{{i.company_category}}</td>
        <td class="company__type">{{i.company_type}}</td>
        <td class="company__founded">{{i.year_founded}}</td>
        {# {% set location =  %} #}
        <td class="company__location"><a href="https://www.google.ca/maps/place/{{i.city}},+{{i.state}},+USA" target="_blank">{{i.city}}, {{i.state}}</a></td>
        {# Need to have a custom filter in nunjucks to format the datetime entry #}
        <td class="company__last-update">{{i.last_updated | truncate(10) }}</td>
        
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  

  
  
  
{% endblock %}