{% extends '_base.html' %}

{% block content %}
<div class="top-section top-section--main-color resources-header">
  <h1>Resources</h1>
  <h2>Press, Media and Blogs</h2>
</div>

<section class="page-section">
  {% for i in resources %}
  <div class="resource-item">
    <div class="row align-center">
      <div class="column large-8">
        <h3 class="resource-item__content">{{i.content}}</h3>
        <p class="resource-item__author">by {{i.author}} in {{i.date}}</p>
        <h5 class="resource-item__source">from {{i.source}}</h5>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
<section class="slider">
  <section id="slide-id" class="slide slide--teal">
  <!-- MODIFIERS: .slide--purple, .slide--blue, .slide--orange. .slide--teal -->
    <header class="row">
      <div class="large-12 column">
        <h4>GovLab Digest</h4>
      </div>
    </header>
    <div class="row slide__content">
        <div class="medium-6 column">
            <h2 class="slide__project-name">Project Title</h2>
            <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
        </div>
        <div class="medium-6 column">
            <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
        </div>
    </div>
    <div class="row slide__content">
        <div class="medium-6 column">
            <div class="slide__action">
                <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
        <div class="medium-6 column">
            <div class="slide__action">
                <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>
  </section>
  <section id="slide-id" class="slide slide--orange">
  <!-- MODIFIERS: .slide--purple, .slide--blue, .slide--orange. .slide--teal -->
    <header class="row">
      <div class="large-12 column">
        <h4>GovLab Academy</h4>
      </div>
    </header>
    <div class="row slide__content">
        <div class="medium-6 column">
            <h2 class="slide__project-name">Project Title</h2>
            <h3 class="slide__question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
        </div>
        <div class="medium-6 column">
            <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            <p>Project description Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
        </div>
    </div>
    <div class="row slide__content">
        <div class="medium-6 column">
            <div class="slide__action">
                <a class="button button--naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
        <div class="medium-6 column">
            <div class="slide__action">
                <a class="button button--naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>
  </section>
</section>
<div class="subscribe">
    <div class="row">
        <div class="column medium-12">
          <h4><strong>Subscribe</strong> The GovLab Digest</h4>
        </div>
        <div class="medium-6 column subscribe__left-panel">
            <p>A weekly curation of new findings and developments on innovation in governance</p>
        </div>
        <div class="medium-6 column">
          <form class="form form--negative subscribe__right-panel" method="post" action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" target="_blank" >
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>

              <input type="email" name="EMAIL" placeholder="Email">
              <button class="button" type="submit">Subscribe</button>
          </form>
        </div>
    </div>
    <div class="row">
      <div class="column large-12">
        <a href="http://thegovlab.org/category/govlab-digest/" target="_blank" class="button button--naked">Go to Digest<i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>
{% endblock %}