// Company List - Temp

.company {
  transition: all .4s ease;

  th:first-child,
  td:first-child { width: 50px; }

  &__name        { width: 580px; }
  &__category    { width: 320px; }
  &__type        { width: 300px; }
  &__founded     { width: 200px; }
  &__location    { width: 300px; }
  &__last-update { width: 180px; }

  &:hover {
    background-color: rgba($black, .1);
    transition: all .2s ease;
  }
}