// TODO: update styleguide components

// _table
// _page-section
// _form

 


// Abstracted class for color theming
.top-section,
.page-section,
.top-bar {
  &--main-color { 
    background-color: $main-color; 
    color: $white;
  }
}

.homepage-header {
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;    
  }

  h2 {
    margin: 0 0 80px 0;
    font-size: 1.2rem;
    font-weight: bold;

  }
}

.company-header {
  @extend .homepage-header;

  p { margin: 0; }

  &__left-panel {
    text-align: left;


  }

  &__right-panel {
    text-align: right;
  }


}


// Overwriting "page-section" styleguide component
.page-section {
  padding: 20px 0;

  &--zebra:nth-of-type(2n) { background-color: rgba($black, .05); }

  &--highlight {
    p {
      font-size: 1.35rem;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}


// Adds modifier to "button" styleguide component
.button--paragraph {
  text-align: center;
  padding: 30px;

  h3 { 
    margin: 0;
    font-size: 2rem;
  }
  p {
    text-transform: none;
    line-height: 1.35;
    margin: 0 0 10px 0;
    letter-spacing: 0;
  }
}

// Context Specific Style
.survey-button {
  margin-bottom: 10px;
}




.datasets {
  
  &__list {
    margin: 0;
    padding: 0;

    li {
      
    }
  }
}

.dataset-item {
  margin-bottom: 6px;
  display: block;
  text-transform: none;
  background-color: rgba($black, .05);
  @extend .u-clearfix;

  &:hover {
    background-color: rgba($black, .1);
  }
  
  &__name {
    float: left;
    padding: 15px 20px;
    font-weight: bold;
  }

  &__controls {
    float: right;
  }
}



.company-header {

}

.button--company-website {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  background-color: $accent-color;
  bottom: -57px;
  box-shadow: 2px 2px 10px rgba($black, .2);

  &:hover {
    background-color: darken($accent-color, 8);
  }
}









// .page-section {
//   &--sequence {
//     position: relative;
//     padding-top: 0;
//     padding-bottom: 0;
//     display: flex;

//     &:after {
//       position: absolute;
//       content: "";
//       width: 0;
//       height: 0;
//       border-top: 30px solid #fff;
//       border-right: 30px solid transparent;
//       border-left: 30px solid transparent;
//       bottom: -30px;
//       left: calc(50% - 15px);
//       z-index: 10;
//     }

//     &:nth-of-type(odd) { background-color: #f1f1f1; 
//       &:after { border-top-color: #f1f1f1; }
//     }

//     &__content {
//       padding: 40px;
//       flex: 1;
//     }

//     &__sequence-image {
//       width: 33.3%;
//       background-size: cover;
//       background-position: center;
//       background-blend-mode: multiply;
//     }
//   }
// }