.subscribe {
    background-color: darken($teal, 4);
    padding: 35px 0;
    color: $white;

    h4 {
        margin: 0;
        font-size: 1.4rem;
    }

    &__left-panel {
        padding-right: 30px;
    }

    &__right-panel {
        
    }

    form { 
        display: flex;
        padding-top: 1.5em;

        .button { 
            height: 40px; 
            line-height: .7;
        }
    }
    

}
