.table-sortable {
  @extend .u-table; // Added .u-table to t

  td { padding: 15px 20px 15px 0; }

  &__head-cell {
    background-color: darken($main-color, 4);
    padding: 0;
    position: relative;
    
    > span {
      padding: 15px 0;
      display: inline-block;
    }
  }

  &__control-group { 
    float: right;
    margin-right: 15px;
  }

  &__control {
    float: left;
    padding: 15px;
    color: rgba($black, .2);

    > i { vertical-align: middle; }

    &:hover { color: $white; }

    &--simple { display: inline-block; }
    &--simple:hover { background-color: rgba($black, .1); }  
  }

  
  &__search {
    position: absolute;
    top: 0;
    right: 68px;
    left: calc(100% - 92px);
    display: flex;
    overflow: hidden;
    transition: all .3s ease;
    max-width: 0;

    &--active {
      left: -15px;
      border-left: 1px solid rgba($white, .4);
      transition: all .3s ease;
      max-width: 100%;
    }
    
    input[type='text'] {
      flex: 1;
      margin: 0;
      padding: 10px 15px;
      background-color: darken($main-color, 5);
      color: $white;
      @include placeholder { color: $white; }
      
      &:focus { background-color: darken($main-color, 7); }
    }
    
    button {
      padding: 15px 15px 13px;
      border-radius: 0;
      background-color: darken($main-color, 8);


      &:hover { background-color: darken($main-color, 10); }

    }
  }
}