.timeline-boxes {
  display: flex;
  padding: 0;
  position: relative;


  &:before {
    content: "";
    border-bottom: 2px solid rgba($white, .2);
    position: absolute;
    top: 30px;
    right: 0;
    left: 0px;
  }

  &:after {
    content: "";
    border-bottom: 2px solid $white;
    position: absolute;
    top: 30px;
    left: calc(80% + 20px);
    width: 20%;
    transition: all .2s ease-in-out;
  }

  &__item {
    flex: 1;
    list-style-type: none;
    color: rgba($white, .2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8%;
    padding-bottom: 0;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover,
    &--active-4 li { 
      color: rgba($white, 1); 
      padding-top: 3%;
      padding-bottom: 5%;
    }

    &:before {
      content: attr(data-date);
      font-size: 1.3rem;
      font-weight: bold;
      color: $white;
      position: absolute;
      top: 0;
      padding: 0 10px;
      margin-left: -10px;
    }
  }

  // TODO - Make a solution for default value hidden while hovering, 
  // and fallback on mouse out
  // &--active-4 li:nth-child(5) { 
  //   color: rgba($white, 1); 
  //   padding-top: 3%;
  //   padding-bottom: 5%;
  // }

  &--active-0:after { left: 20px; }
  &--active-1:after { left: calc(20% + 20px); }
  &--active-2:after { left: calc(40% + 20px); }
  &--active-3:after { left: calc(60% + 20px); }
  &--active-4:after { left: calc(80% + 20px); }
}